.square {
  height: 80px;
  width: 80px;
  background-color: red;
}

.circle {
  height: 80px;
  width: 80px;
  background-color: #855;
  border-radius: 50%;
}

.rectangle {
  height: 80px;
  width: 160px;
  background-color: #505;
}

.triangle {
  width: 0;
  height: 0;
  border-left: 40px solid transparent;
  border-right: 40px solid transparent;
  border-bottom: 80px solid blue;
}

.vl {
  border-left: 4px solid cornflowerblue;
  height: 38px;
}

